.loginPage{
    background-color: #27213B;
    height: 100vh;
}

.loginPage > header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 44px 0px;
}

.loginPage > header > h1 {
    color: #7A007A;
    text-shadow: 1px 1px 3px rgba(122, 0, 122, 0.25);
}

.loginPage > main{
    height: calc(100% - 160px);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.loginPage > main > div{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginPage > main > div > p{
    font-size: 24px;
}

.loginPage .cto{
    color: #381750;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
    width: fit-content;
    padding: 10px;
}

.loginPage .buttonLoginGoogle {
    color: #fff;
    background-color: #7A007A;
    border: 5px solid #7A007A;    
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    gap: 8px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.loginPage .buttonLoginGoogle:hover {
    color: #7A007A;
    background-color: #fff;
}

/* Responsive */
@media(max-width: 767px){
    .loginPage > main{
        padding: 0px 24px;
    }

    .loginPage > main > div > p{
        font-size: 16px;
    }
    
    .loginPage .cto{
        font-size: 14px;
        margin-bottom: 44px;
    }
    
    .loginPage .buttonLoginGoogle {
        padding: 5px 10px;
        font-size: 16px;
    }
}